/* over writing default settings*/

section, nav, main{
    margin: 0px;
    
    overflow: hidden;

}

body{
    margin:0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
    padding-top: 10px;
}



.header_heading{
    /*fixed is used to make the block be present at the top*/

    position: fixed;
    top: 0%;

    color: beige;
    background-color: #362017;
    width: 100%;

    /* width is used to streach the block to the whole 100% of parent tag */

    font-size: large;
    text-align: center;
    padding: 0.5% 0;
    margin: 0px;
    /* fixes default padding and margine of header, not very brainly to change  */

    
    z-index: 3;
    /* border: 0.2px solid black; */
    border-radius: 3px;
    border-bottom: 1px solid #ccc;
    /* display: inline-block; */

}

section.banner{
    /* parent tag to be relative */

    position: relative;
    text-align: center;
    /* width: 100%; */
}


.banner_img{
    position:relative;
    /* left: px; */
    /* max-width: 100%; */
    width: 100%;
    /* border-right-width: 10000px; */
    /* border-radius: 8px; */
    z-index: 1;
    overflow: hidden;

}

.banner_heading{
    /* because we are overlapping this tag over the above image block  */
    position: absolute;
    left: 0px;
    top: -140%;
    
    display: block;
    width: 100%;
    /* text-align: center; */
    /* background-color: #359cfd3c; */
    padding: 0px;
    z-index: 1;
    font-size: 50px;
    /* border:solid; */
    
        
}

.banner div div{
    text-align: left;
    /* display :flex; */
    justify-self: center;
    
    /* position: absolute; */
    /* left: -1px; */
}

.h2_div{
    position: absolute;
    /* align-items: center; */
    top: 30%;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    text-align: center;
    z-index: 2;
    
}
.h2_div h2{
    margin: 0px;
}
.h2_div p{
    margin: 2px;
}


.h3_div{
    display: flex;
    gap: 1%;
}

.location_icon{
    width:15px;
}

.h3_div h3{
    /* position: relative; */
    /* top: 56%;*/
    /* left: 15%;  */
    /* display: inline-flex; */
    /* width: 100%; */
    /* text-align: center; */
    z-index: 1;
    
}

.profile_contacts{
    /* margin: 12px; */
    display: flex;

    /* gap: 0%; */
}

/* understandable */

.profile_contacts div{
    position: relative;
    left: -3%;
    
    display: inline-flex;
    
    flex-direction: column;

    align-items: center;
}


img.rohith_img{
    /* position:relative;  */
    /* left: 11%; */
    /* max-width: 100%; */
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    width: 33%; 
    border-radius: 200%;
    border: solid black 2px;
    padding: 0.6px;
    margin-top: 5%;
    
}

/* understandable */
.rohith_name{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    /* left: 10%; */
    
    /* text-align: center; */
    background-color: #27160f;
    padding: 3px;
    font-size: 1.8em;
    color: beige;
    
    
}













.side_info{
    /* moved to right to try something new */
    /* parent nav tag */
     position: relative;
    /*left: 39%;
    bottom: 20%; 
    top: 1%;*/
    
    width: 100%;


    background-color: #362017;
    
    /* padding-top: 100%; */
    /* padding-bottom: 42%; */
    /* padding-top: 5%; */
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-color: black;
    border: #ffffff 0.2px solid;
    z-index: 0;


    display: flex;
    gap: 1%;
    justify-items:safe;

}

nav.bigbrain_nav{
    /* another nav tag inside a parent nav tag to attain flexibility in child tag */
    display: inline;
    /* position: relative;
    left: 10px;
    bottom:80px;
    width: 90%;
    z-index: 0; */
    /* background-color: #94672033; */
    
    
    
    
}
.bigbrain_nav h3{
    color: beige;
}



nav h3{
    position: relative;
    left: 10px;
}

nav ul{
    /* white-space: nowrap; */
    list-style-type: none;
    /* background-color: #e0f8ff; */
}

nav li{
    
    width: 50%;
    /* display: inline-block; */
    font-size: 24px;
    
}


img.logo1{
    position: absolute;
    /* right: 100ox; */
    width: 28px;
    left: 2px;
    
}

img.logo2{
    position: absolute;
    left: 0px;
    /* top:96px; */
    width: 33px;
}

img.logo3{
    position: absolute;
    left: 0px;
    /* top:142px; */
    width: 30px;
}
img.logo4{
    position: absolute;
    left: 0px;
    /* top:182px; */
    width: 33px;
}

li a{
    text-decoration: none;
    color:beige;
}







main{
    position: relative;
    background-color:#4d2e21d3;
    z-index: 1;
}
main article{
    color: beige;
}









footer{
    position: relative;
    background-color:honeydew;
    z-index: 1;
}


/* hover effects */

a:hover{
    color: rgb(0, 145, 255);
}


@media screen and (max-width:610px){
    section.banner h2{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size:140%;
    }
    section.banner h3{
        font-size: 10px;
    }
    img.location_icon{
        width: 10px;
        position: absolute;
        top:35%;
        left:40%;

    }
}


@media screen and (max-width:930px){
    .profile_contacts{
    /* margin: 12px; */
    display: block;

    /* gap: 0%; */
    }

    .profile_contacts div{
    position: static;
    /* left: -3%; */
    
    display: inline-flex;
    
    flex-direction: column;

    align-items: center;
    }

    .side_info{
        border-radius: inherit;
    }
}